.bug{
  border: 3px solid #aedf78;
}
.water{
  border: 3px solid #43ccff;
}
.grass{
  border: 3px solid #00ca91;
}
.fire{
  border: 3px solid #e95c4d;
}
.normal{
  border: 3px solid #a5a5a5;
}
.poison{
  border: 3px solid lightseagreen;
}
.ground{
  border: 3px solid chocolate;
}
.electric{
  border: 3px solid darkslateblue;
}
.fairy{
  border: 3px solid pink;
}
.fighting{
  border: 3px solid darkred;
}
.psychic{
  border: 3px solid darkgoldenrod;
}
.rock{
  border: 3px solid darkgray;
}
.ghost{
  border: 3px solid lightseagreen;
}